@font-face {
	font-family: 'MuseoSans';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/museosanscyrl-300.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/museosanscyrl-300.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/museosanscyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/museosanscyrl-300.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/museosanscyrl-300.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/museosanscyrl-300.svg#museosanscyrl-300') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MuseoSans';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/museosanscyrl-500.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/museosanscyrl-500.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/museosanscyrl-500.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/museosanscyrl-500.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/museosanscyrl-500.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/museosanscyrl-500.svg#museosanscyrl-500') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MuseoSansCyrl-900';
	font-style: bold;
	font-weight: 900;
	src: url('../fonts/museosanscyrl-900.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/museosanscyrl-900.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/museosanscyrl-900.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/museosanscyrl-900.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/museosanscyrl-900.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/museosanscyrl-900.svg#museosanscyrl-900') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Impact';
	src: url('Impact.eot');
	src: local('Impact'),
		url('Impact.eot?#iefix') format('embedded-opentype'),
		url('Impact.woff') format('woff'),
		url('Impact.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
